.content {
  width: 95%;
  margin: auto;
  gap: 20px;
}

.about-inner {
  display: grid;
  grid-column: 1 /-1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.about-title {
  color: #d5a653;
  grid-column: 1 /-1;
  text-align: center;
  margin: 10px 0;
  font-family: "Alice", sans-serif;
  font-size: 45px;
  letter-spacing: 1px;
  border-bottom: solid rgba(124, 124, 124, 0.35);
}

.left-container {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1 /2;
  justify-content: center;
}

.left-container > * {
  font-size: 29px;
  font-family: "Nemo", sans-serif;
  letter-spacing: 0.5px;
}

.right-container {
  display: grid;
  grid-column: 2/3;
  place-items: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

span {
  color: #a8450c;
}

@media (max-width: 1220px) {
  .about-inner {
    grid-template-columns: 1fr;
  }

  .left-container,
  .right-container {
    grid-column: 1/-1;
  }
}

@media (max-width: 790px) {
  .left-container > * {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .left-container > * {
    text-align: center;
  }
}
