@font-face {
    font-family: "Alice";
    src: url("../fonts/Filmotype_Alice.ttf");
}
@font-face {
    font-family: "Nemo";
    src: url("../fonts/Filmotype_Nemo.otf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
}

#container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero-image.png");
    background-position: initial;
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 3fr;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.logo-div {
    width: 70px;
}

.logo-div img {
    width: 100%;
}

.main-title {
    color: white;
    font-family: "Alice", sans-serif;
}

.para {
    color: white;
    font-family: "Nemo", sans-serif;
}
